//font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap');

//icons
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

.material-symbols-outlined {
  vertical-align: middle;
}
.material-symbols-outlined.cursor-pointer:hover {
  scale: 1.1;
}

.icon-fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24;
}
