.page-link {
  border: 0;
  border-radius: 0;
  background: transparent !important;
  color: var(--bs-gray-600);
  &:hover {
    background: transparent;
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
  &.onActive {
    color: var(--bs-accent);
    pointer-events: none;
  }
}

.page-item:is(:first-child, :last-child) > .page-link:hover {
  text-decoration: none;
}
