
.product-card {
  height: 360px;
}
.card-img-wrap{
  &:hover{
    & > img{
      scale: 1.125;
    }
    & > .card-img-text{
    opacity: 1;
    }
  }
}

.addCart-btn:hover{
  filter: brightness(95%);
}