.cart {
  container-type: inline-size;
  container-name: cart;
}

.cart__Img {
  flex: 0 0 100px;

  & > img {
    aspect-ratio: 1;
  }
}
.carts__list > li:last-child {
  margin-bottom: 0;
}
.cart__content:has(p:hover) p {
  cursor: pointer;
  text-decoration: underline;
}

@container cart (width > 600px) {
  .cart__Img {
    flex-basis: 150px;
  }
  .cart__content > p {
    font-size: 1.5rem;
  }
}