// custom color
$primary: $orange-200;
$secondary: $red-700;
// $accent: #b2444d;
$accent: $orange-400;
$neutral: $gray-600;
$neutral-dark: $gray-800;
$neutral-light: $gray-200;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'accent': $accent,
  'neutral': $neutral,
  'neutral-dark': $neutral-dark,
  'neutral-light': $neutral-light,
);
//fz
$font-sizes: (
  sm: $font-size-base * 0.875,
  base: $font-size-base,
  lg: $font-size-base * 1.25,
  xl: $font-size-base * 1.5,
  2xl: $font-size-base * 2,
  3xl: $font-size-base * 2.25,
  4xl: $font-size-base * 3,
  5xl: $font-size-base * 4,
  6xl: $font-size-base * 5,
);
// options
$enable-rfs: false;
$enable-negative-margins: true;
$enable-important-utilities: false;

// space
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 2,
  8: $spacer * 2.5,
  9: $spacer * 3,
  10: $spacer * 4,
  lg: $spacer * 5,
  xl: $spacer * 6,
);

// Links(anchor)
$link-color: $primary !default;
$link-decoration: none;
// Paragraphs
$paragraph-margin-bottom: 0;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;
//grid
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

// Components

// Typography
$headings-margin-bottom: 0;
$headings-line-height: 1.5;

// scss-docs-start form-text-variables
$form-text-margin-top: 0;
// scss-docs-start form-label-variables
$form-label-margin-bottom: 0 !default;
