// 定義最大旋轉角度和次數
$step: 15;
$times: 360 / $step; // 這會是 24

@mixin rotate($angle) {
  transform: rotate(#{$angle}deg);
}

@for $i from 1 through $times {
  .-rotate-#{$i * $step} {
    @include rotate(-$i * $step);
  }
  .rotate-#{$i * $step} {
    @include rotate($i * $step);
  }
}
